*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: sans-serif;
}
#msg{
    margin-top: 30px;
    font-size: 20px;
    
}
h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}
#nav{
    padding: 5px;
    cursor: pointer;
   
}
.subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    text-align: center;
    transform: translateY(-100%);
    transition-duration: .9s;
    transition-timing-function: ease;
}
li{
    line-height: 40px;
    font-size: 17px;
}
li:hover{
    cursor: pointer;
    background-color: #0058fd;
    transform: translateX(-10px);
}

#nav img{
    height: 30px;
}
.tabs{
    font-size: 14px;
    width: 100%;
    flex-direction: column;
    display: flex;
    visibility: none;
    height: 84px;
    align-items: flex-start;
    justify-content: space-around;
}
.tabs a{
    text-decoration: none;
    margin-bottom: 15px;
    text-indent: 1px;
    letter-spacing: 1px;
  
}

#links{
    visibility: hidden;
      transition-duration:0.35s ;
}
.nava{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}
nav{
    padding: 20px;
    width: 100%;
    height: 90px;
    transition-duration: 0.7s;
    background-color: rgb(7 27 56);
}
main{
 padding: 15px;
 display: flex;
 background-color: #122b58;
 flex-direction: column;
 justify-content: center;
 width: 100%;
 align-items: center;
 position: relative;
 min-height: 65vh;
}
#s{
    color: rgb(0, 255, 247);
    position: absolute;
    transition-duration: .3s;
    transform: translateX(-10px);
}
#s:hover{
    transform: translateX(-5px);
}

#logo{
    text-shadow: -1px 4px 12px rgb(0 0 0);
    font-weight: 600;
    position: relative;
    font-size: 30px;
}
input{
    background-color: #122b58;
    padding: 5px;
    color: white;
    width: 300px;
    outline: none;
    margin-bottom: 10px;
    border: none;
    text-align: center;
    border-bottom: 1px solid rgb(108, 191, 255);
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
button{
    border: none;
    outline: none;
    text-align: center;
    font-weight: 300;
    padding: 20px;
    transition-duration: 0.5s;
    font-size: 25px;
    background-color: rgb(0, 87, 154);
    width: 300px;
    cursor:pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.202);
}
button:hover{
    letter-spacing: 3px;
}
main span{
    color: aqua;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.507);
}
footer{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 25, 62);
    text-align: center;
}

#box{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: .5s;
}
#box:hover{
    transform: translateY(-3px);
}
.bcontainer{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 25, 62);
    margin-top: 30px;
    
}

#cp{
    text-align: center;
    padding: 20px;
    width: 100%;
}
.log{
    margin-top: 20px;
}
#box img{
    height: 30px;
    width: 30px;
}

a{
    text-decoration: none;
}